:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 70px;
}

header .logo{
    margin-left: 50px;
    margin-right: 50px;
    color: var(--vermelho);
    font-family: "arial black";
    font-size: 25px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 20px;
}

header nav a:hover{
    color: #fff
}

.subtitle{
    padding-bottom: 70px;
}

.link{
    text-decoration: none;
    color: #141414;
    
}

/*DESTAQUE PRINCIPAL*/
.livro-principal{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/livro_capa.jpg');
    
    height: 570px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.livro-principal .container{
    margin-left: 50px;
}

.livro-principal .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.livro-principal .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}

.button_{
    font: inherit;
    
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
    text-decoration: none;
}

.button_:hover{
    background-color: rgb(173, 172, 172);
    color: #141414;
    text-decoration: none;
}

.button_ i{
    margin-right: 8px;
}

.button_ a{
    text-decoration: none;
    color: white;
}

.popup {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    
    margin: auto;
    padding: 50px;
    width: 700px;
    height: 400px;
    color: white;
    display: none;
    text-align: justify;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/livro-popup.jpg');
    
  }

  .popup i{
    padding-left: 600px;
    padding-bottom: 30px;
  } 

/*CARROSSEL DE LIVROS - SEÇÃO LIVROS*/
.carrossel-livros .container{
    height: 610px;
    color: white;
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
}

.carrossel-livros .container .subtitle{
    padding-left: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 20px;

}

.box-livros{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 20px;
    padding-top: 0px;
}

/*seção sobre bookflix*/
.bookflix .container{
    background: url('../img/sobre_bookflix.jpg');
    height: 610px;
    color: black;

    display: flex;
    flex-direction: column;
    padding-left: 60px;
}
.bookflix .title{
    color: var(--vermelho);
    font-family: arial black;
    font-size: 45px;
    padding-top: 120px;
}

.bookflix .container .description{
    display: flex;
    background-size: cover;
    
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    text-align: justify;
    width: 25%;
}

.bookflix .button_{
    background-color: var(--vermelho);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    border-radius: 5px;
    font-size: 16px;

    cursor: pointer;
    transition: .3s ease all;
    width: 20%;
}

.contact{
    background: url('../img/contato.jpg');
    height: 610px;
    padding-left: 70px;
    padding-top: 170px;
    text-align: left;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    margin-top: 20px;
}

/*rodapé da página*/
.rodape{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    size: 100%;
    background-color: #141414;
    justify-content: center;
}

/* pagina individual cada livro*/
.a-sultil-arte{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/1-a-sutil_arte-capa.jpg');
        
    height: 565px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.a-sultil-arte .container{
    margin-left: 50px;
}

.a-sultil-arte .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.a-sultil-arte .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}


.como-evitar{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/2-como-evitar-preocupacoes-capa.jpg');
    
    height: 565px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.como-evitar .container{
    margin-left: 50px;
}

.como-evitar .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.como-evitar .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}


.inteligencia-social{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/3-inteligencia-social-capa.jpg');
    
    height: 565px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.inteligencia-social .container{
    margin-left: 50px;
}

.inteligencia-social .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inteligencia-social .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}


.mindset{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/4-mindset-capa.jpg');
    
    height: 565px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.mindset .container{
    margin-left: 50px;
}

.mindset .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mindset .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}


.o-jeito-harvard{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/5-o-jeito-harvard-de-ser-feliz-capa.jpg');
    
    height: 565px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.o-jeito-harvard .container{
    margin-left: 50px;
}

.o-jeito-harvard .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.o-jeito-harvard .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}


.o-milagre-da-manha{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/6-o-milagre-da-manha-capa.jpg');
    
    height: 565px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.o-milagre-da-manha .container{
    margin-left: 50px;
}

.o-milagre-da-manha .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.o-milagre-da-manha .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}


.o-poder-da-acao{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/7-o-poder-da-acao-capa.jpg');
    
    height: 565px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.o-poder-da-acao .container{
    margin-left: 50px;
}

.o-poder-da-acao .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.o-poder-da-acao .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}


.o-poder-do-habito{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/8-o-poder-do-habito-capa.jpg');
    
    height: 565px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.o-poder-do-habito .container{
    margin-left: 50px;
}

.o-poder-do-habito .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.o-poder-do-habito .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}


.rapido-e-devagar{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/9-rapido-e-devagar-capa.jpg');
    
    height: 565px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.rapido-e-devagar .container{
    margin-left: 50px;
}

.rapido-e-devagar .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rapido-e-devagar .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}


.seja-foda{
    font-size: 16px;
    
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/10-seja-foda-capa.jpg');
    
    height: 565px;
    background-size:cover;
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.seja-foda .container{
    margin-left: 50px;
}

.seja-foda .title{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.seja-foda .description{
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
}

