@media screen and (max-width:750px){
    header .container {
    display: flex;
    flex-direction: column;
    }

    .livro-principal .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .bookflix .title{
        padding-top: 70px;
    }

    .bookflix .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .bookflix .container .description{
        width: 50%;
    }
}

@media screen and (min-width:1000px){
    .livro-principal .description{
        width: 50%;
    }

    .description{
        width: 50%;
    }
}

