@media screen and (max-width:750px){
    header .container {
    display: flex;
    flex-direction: column;
    }

    .livro-principal .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .a-sutil-arte .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .como-evitar .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .inteligencia-social .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .mindset .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .mindset .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .o-jeito-harvard .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .o-milagre-da-manha .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .o-poder-da-acao .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .o-poder-do-habito .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .rapido-e-devagar .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }

    .seja-foda .container .button_{
        margin-top: 5px;
        width: 250px;
        flex-direction: column;
    }
}

@media screen and (min-width:1000px){
    .livro-principal .description{
        width: 50%;
    }

    .a-sutil-arte .description{
        width: 50%;
    }

    .como-evitar .description{
        width: 50%;
    }

    .inteligencia-social .description{
        width: 50%;
    }

    .mindset .description{
        width: 50%;
    }

    .o-jeito-harvard .description{
        width: 50%;
    }

    .o-milagre-da-manha .description{
        width: 50%;
    }

    .o-poder-da-acao .description{
        width: 50%;
    }

    .o-poder-do-habito .description{
        width: 50%;
    }

    .rapido-e-devagar .description{
        width: 50%;
    }

    .seja-foda .description{
        width: 50%;
    }
    
}